:root {
    --def-font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html {
    height: fit-content;
}

/*Mobile compatibility*/
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    margin: 0;
   
}
*{
    transition: all .4s ease-in;
}
.page {
    width: 99%;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    
}


.head {
    width: 100%;
    height: 4rem;
    background-color: rgba(249, 249, 247, 0.411);
    border: 1px solid rgb(171, 171, 171);
    border-radius: 2rem;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-inline-start: 2rem;
    position: sticky;
    top: 0;
    z-index: 2;
}
.logo {
    width: 2rem;
    height: auto;
    border: 1px solid red;
}
.navBar {
    display: flex;
    gap: 1.3rem;
    align-items: center;
    justify-content: space-between;
  
}
.nav_link {
    color: rgb(45, 45, 45);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    text-decoration: none;
}

.main {
    width: 95%;
    min-height: 10rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    

}
.sections {
    width: 98%;
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-radius: 2rem;
    padding: 1rem 1rem;
}
.p_image {
    width: 15rem;
    height: 15rem;
    border: 2px solid rgba(106, 201, 245, 0.546);
    border-radius: 10rem;
    background-size: cover;
    background-position: center;
}
.grt_cnt {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
}
#greeting {
    color: rgb(78, 78, 78);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    margin-block-start: 2rem;
    font-size: 2rem;
    text-align: center;
}
#des {
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3rem; 
    text-align: center;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    padding: 1rem 1rem;
    border-radius: 1rem;
}
#back_img{
    position: absolute;
    top: 0;
    z-index: -1;
    width: 103dvw;
    height: 50rem;
    object-position: 20%;
    object-fit: cover;
    margin: 0;
    
    
}
#back_overlay{
    position: absolute;
    top: 0;
    z-index: -1;
    width: 103dvw;
    height: 50rem;
    background: linear-gradient(to bottom right, rgba(118, 118, 183, 0.116), rgba(50, 70, 125, 0.546), rgb(61, 185, 239));
    backdrop-filter: blur(4px);
}
.top_btns_cont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    width: 100%;
}
.top_btns {
    width: 100%;
    height: 3rem;
    border: 1px solid rgb(209, 205, 205);
    border-radius: 4rem;
    background-color: rgba(66, 66, 68, 0.26);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(47, 46, 46);
    text-decoration: none;
    font-weight: bolder;
}

.proj_sect {
    width: 100%;
    min-height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    overflow-x: auto;
    margin-block-start: 2rem;
    flex-wrap: wrap;
    overflow-x: hidden;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-radius: 2rem;
   
}
.proj_sect h2 {
    color: rgb(37, 36, 36);
    font-family: var(--def-font-family);
    text-align: center;
}
.proj_cont {
    width: 100%;
    height: 45rem;
    display: flex;
    overflow-x: auto;
    gap: 2rem;
    scroll-behavior: smooth;
    padding: 1rem 1rem;
   
}
.proj_cont::-webkit-scrollbar {
    display: none;
}
.proj_divs {
    width: 94%;
    height: 37rem;
    max-height: 37rem;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-radius: 2rem;
    flex: 0 0 auto;
    margin-inline-end: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0rem;
}
.proj_title {
    font-family: var(--def-font-family);
    color: rgb(39, 39, 39);
}

.proj_des{
   font-family: var(--def-font-family);
    margin: 1rem;
    font-size: 1.2rem;
    color: rgb(91, 91, 91);
    border-left: 1px solid rgb(174, 171, 171);
    border-right: 1px solid rgb(174, 171, 171);
    padding: .2rem .2rem;
    text-align: center; 
    border-radius: 1rem;
    min-height: 4rem;
    max-height: 4rem;
    overflow-y: auto;
}

.search {
    width: 60%;
    height: 2rem;
    border: 1px solid rgb(33, 33, 33);
    border-radius: 4rem;
    background-color: rgba(240, 248, 255, 0.432);
    backdrop-filter: blur(4px);
    color: black;
    font-family: var(--def-font-family);
    align-self: center;
}
.proj_img_cont {
    width: 90%;
    height: 20rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
}
.proj_img {
    width: 90%;
    height: 20rem;
    border-radius: 1rem;
    border: 1px solid gray;
    
}
.proj_btns_cont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    width: 95%;
   
}
.proj_btns {
    width: 100%;
    height: 3rem;
    border: 1px solid rgb(209, 205, 205);
    border-radius: 4rem;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    color: rgb(212, 210, 210);
    text-decoration: none;
    margin-block-start: 2rem;
    margin-block-end: 2rem;
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 5rem;
    padding: 1rem 1rem;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-radius: 2rem;
    backdrop-filter: blur(10px);
}
.skills_title {
    font-family: var(--def-font-family);
    color: rgb(86, 85, 85);
    font-size: 1.5rem;
    align-self: flex-start;
}
.skills_holder {
    width: 100%;
    height: 5rem;
    display: flex;
    overflow-x: auto;
    padding: 1rem 0rem;
    border-left: 1px solid rgb(68, 70, 68);
    border-right: 1px solid rgb(78, 81, 78);
    border-radius: 2rem;
    transform: translateX(-60%);
    opacity: 0;
}
.skills_list {
    flex: 0 0 auto;
    width: 7rem;
    height: 4rem;
    font-family: var(--def-font-family);
    color: rgb(50, 50, 50);
    display: flex;
    flex-direction: column;
    align-items: center;

}
.skills_list_img {
    width: 3rem;
    height: 3rem;
   
}

.about {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
    padding: 2rem 2rem;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-radius: 2rem;
}
.about h2{
    font-size: 2rem;
    font-family: var(--def-font-family);
}

.about p{
    font-size: 1.3rem;
    font-family: var(--def-font-family);
}

footer {
    width: 100%;
    height: 10rem;
    background-color: rgba(0, 0, 0, 0.918);
    border: 1px solid rgb(171, 171, 171);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(163, 162, 162);
    text-decoration: none;
    font-weight: bolder;
    font-size: 1rem;
    margin-block-start: 2rem;
   
}

/*Desktop compatibility*/
@media screen and (min-width: 900px) {
    .page {
        width: 90%;
    }
    .sections {
        flex-direction: row;
        gap: 1rem;
        margin-block-start: 3rem;
    }
    .p_image {
        width: 28rem;
        height: 20rem;
       
    }
    .proj_divs {
        width: 40%;
    }
    footer {
        flex-direction: row;
        
        justify-content: space-evenly;
        padding: 1rem 1rem;
    }
}
